/* Start Global Rules */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

/* End Component */
/* Start header */
.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /*
   we add this height,
   cus when going to mobile media 
   the padding removed,
   and the header looks smaller 
   */
  min-height: 97px;
}
.header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
  z-index: 1;
}
.container .logo {
  flex-basis: 140px;
}
.container .logo a img {
  width: 100%;
}
.container .nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .nav .toggle-menu {
  color: white;
  font-size: 20px;
}
@media (min-width: 768px) {
  .container .nav .toggle-menu {
    display: none;
  }
}
.container .nav ul {
  display: flex;
  z-index: 2;
}
@media (max-width: 768px) {
  .container .nav ul {
    display: none;
    position: relative;
  }
  .container .nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .container .nav ul li a {
    padding: 15px !important;
  }
}
.container .nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
}
.container .nav ul li:first-of-type a,
.container .nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.container .nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 20px;
  border-left: 1px solid white;
}
.container .nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End header */
/* Start landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.webp);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .landing-info {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
  width: 50%;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .landing .landing-info {
    width: 100%;
  }
}
.landing .landing-text {
  max-width: 500px;
}
@media (max-width: 768px) {
  .landing .landing-text {
    max-width: 100%;
  }
}
.landing .landing-text h2 {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.landing .landing-text p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 768px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.landing .bullets li {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

.services .services-box .serv {
  display: flex;
}
.services .services-box .serv .serv-text {
  margin-left: 50px;
}
@media (max-width: 767px) {
  .services .services-box .serv {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .services .services-box .serv .serv-text {
    margin-left: 0;
    text-align: center;
  }
  .serv-text h3 {
    color: var(--main-color);
    margin-bottom: 15px;
    margin-top: 26px;
  }
}
.serv-text h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.serv-text p {
  line-height: 2;
  color: #777;
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url(../images/design-features.webp);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .design-info {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  flex-direction: column;
}
.design .design-info h2 {
  margin-bottom: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
.design .design-info .design-text {
  display: flex;
  width: 100%;
  padding: 15px 0;
}
.design .design-info .design-text i {
  margin-right: 15px;
}

.design .design-img,
.design .design-info {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .design-img {
  text-align: center;
}
.design .design-img img {
  position: relative;
  bottom: -150px;
}
@media (max-width: 768px) {
  .design .design-info {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .design .design-info .design-text {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .design .design-img {
    display: none;
  }
}

/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .container ul {
  display: flex;
  justify-content: center;
}
.portfolio .container ul li {
  padding: 10px;
}
.portfolio .container ul li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .img-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .img-container .box {
  position: relative;
  flex-basis: 25%;
  overflow: hidden;
}
.img-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.img-container .box:hover .caption {
  bottom: 0;
}
.img-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

@media (max-width: 991px) {
  .portfolio .img-container .box {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .portfolio .img-container .box {
    flex-basis: 100%;
  }
}
.img-container .box .caption {
  position: absolute;
  padding: 20px;
  background-color: white;
  width: 100%;
  bottom: -100%;
  transition: 0.5s;
}
.img-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.img-container .box .caption p {
  color: var(--main-color);
}
.img-container .box img:hover + .caption {
  display: block;
}
.portfolio .more {
  display: block;
  text-decoration: none;
  margin: 30px auto;
  width: fit-content;
  padding: 15px 20px;
  text-transform: uppercase;
  color: white;
  background-color: var(--main-color);
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.video video {
  width: 100%;
}
.video .video-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}
.video .video-caption h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .video-caption p {
  margin-bottom: 30px;
}
.video .video-caption button {
  color: white;
  text-transform: uppercase;
  border: none;
  background-color: black;
  padding: 10px 20px;
}
@media (max-width: 767px) {
  .video .video-caption {
    height: 50%;
    padding: 20px;
  }
  .video .video-caption h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .video .video-caption p {
    margin-bottom: 5px;
  }
  .video .video-caption button {
    padding: 5px 10px;
  }
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End About */
/* Start Statistics */
.statistics {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/stats.webp);
  background-size: cover;
  position: relative;
  text-align: center;
}
.statistics::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.statistics .container {
  /* used to make the z-index of this upper than the transperante background */
  position: relative;
  display: flex;
  /* need for other media to change the size of box */
  flex-wrap: wrap;
  background-color: var(--transparent-color);
}
.statistics .container .box {
  flex-basis: 25%;
  color: white;
  padding: 50px;
}
.statistics .container .box i {
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}
.statistics .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0 20px 0;
}
.statistics .container .box p {
  font-size: 13px;
}

@media (max-width: 991px) {
  .statistics .container .box {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .statistics .container .box {
    flex-basis: 100%;
  }
}

/* End Statistics */
/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .testimonials {
  flex-basis: 45%;
}
@media (max-width: 991px) {
  .container .testimonials {
    flex-basis: 95%;
  }
}
@media (max-width: 767px) {
  .statistics .container .box {
    flex-basis: 100%;
  }
}
.container .testimonials h3,
.container .testimonials p {
  text-align: center;
}
.container .testimonials h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.container .testimonials p {
  color: #777;
  font-size: 15px;
  line-height: 2;
}
.container .testimonials .Testimonials-content {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.container .testimonials .Testimonials-content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .container .testimonials .Testimonials-content {
    flex-direction: column;
    text-align: center;
  }
  .container .testimonials .Testimonials-content img {
    margin: 0 auto 20px;
  }
}
.Testimonials-content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.Testimonials-content .text p {
  text-align: right;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}
.testimonials .bullets {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.testimonials .bullets li {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #aaa;
}
.testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.container .skills {
  flex-basis: 45%;
}
.container .skills h3,
.container .skills p {
  text-align: center;
}
.container .skills h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.container .skills p {
  color: #777;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 40px;
}
.skills .prog-holder {
  margin-bottom: 40px;
}
.skills .prog-holder > h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.skills .prog-holder > div {
  width: 100%;
  height: 30px;
  background-color: #dedadb;
}
.skills .prog-holder > div > span {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--main-color);
}
.skills .prog-holder > div > span::after {
  position: absolute;
  content: attr(data-progress);
  right: -20px;
  top: -40px;
  background-color: black;
  color: white;
  padding: 5px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.skills .prog-holder > div > span::before {
  content: "";
  position: absolute;
  border: 15px solid;
  border-color: black transparent transparent transparent;
  right: -15px;
  top: -19px;
}
@media (max-width: 991px) {
  .container .skills {
    flex-basis: 95%;
  }
}
/* End Skills */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.webp);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote .container q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.pricing-container .box {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing-container .box .box-heading {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing-container .box .box-heading h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.pricing-container .box .box-heading span {
  position: relative;
  font-weight: bold;
  font-size: 60px;
}
.pricing-container .box .box-heading span::before {
  content: "$";
  position: absolute;
  font-weight: normal;
  font-size: 25px;
  top: -8px;
  left: -30px;
}
.pricing-container .box .box-heading span::after {
  content: "/Mo";
  position: absolute;
  font-size: 20px;
  bottom: 5px;
  right: -50px;
}
.pricing-container .box ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing-container .box ul li {
  padding: 20px 20px;
  position: relative;
}
.pricing-container .box ul :not(li:last-child)::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing-container .box .box-foot a {
  display: block;
  width: fit-content;
  padding: 20px;
  margin: 30px auto;
  text-decoration: none;
  border: 1px solid var(--main-color);
}
.pricing .container .contact-us {
  width: fit-content;
  margin: 50px auto;
  text-align: center;
}
.pricing .container .contact-us p {
  font-size: 20px;
}
.pricing .container .contact-us button {
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.webp);
  background-size: cover;
  color: white;
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe .container form input:first-of-type {
  border: 1px solid white;
  border-right: none;
  background: none;
  caret-color: var(--main-color);
  padding: 20px 20px 20px 60px;
  width: calc(100% - 130px);
}
.subscribe .container form input:last-of-type {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  border-left: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
.subscribe .container form input:first-of-type:focus,
.subscribe .container form input:last-of-type:focus {
  outline: none;
  color: white;
}
.subscribe .container form ::placeholder {
  color: white;
}
.subscribe .container p {
  margin-left: 50px;
  line-height: 2;
}
@media (max-width: 991px) {
  .subscribe .container p {
    margin: 30px 0 0;
  }
}
/* End Subscribe */
/* Start Contact Us */
.contact-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact-us .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-us .content {
    flex-direction: column;
  }
}
.contact-us .content form {
  flex-basis: 70%;
}
.contact-us .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact-us .content form .main-input:focus {
  outline: none;
}
.contact-us .content form textarea.main-input {
  height: 200px;
}
.contact-us .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  display: flex;
  padding: 20px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.contact-us .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact-us .content .info {
    order: -1;
    text-align: center;
  }
}
.contact-us .content .info h4 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact-us .content .info .number {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact-us .content .info h4:last-of-type {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .contact-us .content .info h4:last-of-type {
    margin-top: 30px;
  }
}
.contact-us .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact-us .content .info address {
    margin-bottom: 30px;
  }
}
/* End Contact Us */
/* Start Footer */
footer {
  padding-top: var(--section-padding);
  /* padding-bottom: var(--section-padding); */
  background-image: url(../images/subscribe.webp);
  background-size: cover;
  position: relative;
  color: white;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
footer .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .container img {
  width: 150px;
  margin-top: -50px;
  margin-bottom: 25px;
}
footer .container p:first-of-type {
  font-size: 22px;
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
footer .container .social-icons {
  display: flex;
  width: 156px;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}
footer .container p:last-of-type {
  padding: 20px;
}
footer .container p:last-of-type span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
